.container {
  display: flex;
  height: 50px;
  width: 600px;
  margin: 400px auto;
  border: 3px solid blueviolet;
  border-left: 0ch;
  border-top: 0ch;
  border-right: 0ch;
}

.tag {
  height: 26px;
  margin: 5px;
  padding: 5px;
  border: 2px solid blueviolet;
  border-radius: 18px;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tag button {
  border: none;
  background: transparent;
  color: white;
}

.container input {
  border: transparent;
  margin-right: 0;
}